{% extends 'base.html' %} {% block content %}

<h2 class="text-center mt-2">{{title}}</h2>

{% if g.user %}
	<h5 class="text-center mt-2 add-msg">
		Are we missing your favorite drink? You can add it!&emsp;--->&emsp;
		<a href="/drinks/add" class="btn btn-primary">Get Started</a>
	</h5>
{% endif %}

<div class="container-fluid d-flex flex-wrap justify-content-around" style="width: 100%">
	{% for drink in drinks %}
	{% set drink_loop = loop %}
	{% if drink_loop.index >= 51 %}

	<div class="card card-small text-white bg-secondary text-center col-12 col-sm-5 col-lg-3 mt-4 ml-1 mr-1" style="display: none;">
		<div class="card-body pb-1 pl-0 pr-0">
			<h4 class="card-title mb-1">{{drink.name}}</h4>
			{% if DrinkPost.query.filter_by(drink_id=drink.id).first() %} {% set post = DrinkPost.query.filter_by(drink_id=drink.id).first() %}
				<h6 class="card-subtitle text-center mb-1">
					Bartender: <a href="/profile/{{post.user.id}}">{{post.user.username}}</a>
				</h6>
				<h6 class="card-subtitle mb-3 text-center">({{drink.category.name}})</h6>
			{% else %}
				<h6 class="card-subtitle mb-3 text-center">({{drink.category.name}})</h6>
			{% endif %}
			{% if g.user %}
			<div class="row container-fluid justify-content-between text-center m-0 p-0">
				<h6 class="card-subtitle mb-0 col-6"><small>Likes: {{ likes }}</small></h6>
			</div>
			{% endif %}
		</div>
		<img src="{{drink.image}}" class="card-img-bottom" alt="#" />
		{% if g.user and check_favorites(drink_id) %}
		<div class="row container justify-content-between mx-auto p-0">
			<a href="/{{drink.id}}/favorite/delete" class="btn btn-danger align-self-start pb-0 pt-0 mt-2 mb-2 mr-2 col-5 dislike"><i class="bi bi-heart"></i></a>
			<a href="/{{drink.id}}" class="btn btn-info mt-2 mb-2 ml-2 col-5 align-self-end">Details</a>
		</div>
		{% elif g.user %}
		<div class="row container justify-content-between mx-auto p-0">
			<a href="/{{drink.id}}/favorite/add" class="btn btn-outline-light align-self-start pb-0 pt-0 mt-2 mb-2 mr-2 col-5 like"><i class="bi bi-heart"></i></a>
			<a href="/{{drink.id}}" class="btn btn-info mt-2 mb-2 ml-2 col-5 align-self-end">Details</a>
		</div>
		{% else %}
		<a href="/{{drink.id}}" class="btn btn-info mt-2 mb-2">Details</a>
		{% endif %}
	</div>

	{% else %}

		<div class="card card-small text-white bg-secondary text-center col-12 col-sm-5 col-lg-3 mt-4 ml-1 mr-1">
			<div class="card-body pb-1 pl-0 pr-0">
				<h4 class="card-title mb-1">{{drink.name}}</h4>
				{% if DrinkPost.query.filter_by(drink_id=drink.id).first() %} {% set post = DrinkPost.query.filter_by(drink_id=drink.id).first() %}
					<h6 class="card-subtitle text-center mb-1">
						Bartender: <a href="/profile/{{post.user.id}}">{{post.user.username}}</a>
					</h6>
					<h6 class="card-subtitle mb-3 text-center">({{drink.category.name}})</h6>
				{% else %}
					<h6 class="card-subtitle mb-3 text-center">({{drink.category.name}})</h6>
				{% endif %}
				{% if g.user %}
				<div class="row container-fluid justify-content-between text-center m-0 p-0">
					<h6 class="card-subtitle mb-0 col-6"><small>Likes: {{ likes }}</small></h6>
				</div> 
				{% endif %}
			</div>
			<img src="{{drink.image}}" class="card-img-bottom" alt="#" />
			{% if g.user and check_favorites(drink_id) %}
			<div class="row container justify-content-between mx-auto p-0">
				<a href="/{{drink.id}}/favorite/delete" class="btn btn-danger align-self-start pb-0 pt-0 mt-2 mb-2 mr-2 col-5 dislike"><i class="bi bi-heart"></i></a>
				<a href="/{{drink.id}}" class="btn btn-info mt-2 mb-2 ml-2 col-5 align-self-end">Details</a>
			</div>
			{% elif g.user %}
			<div class="row container justify-content-between mx-auto p-0">
				<a href="/{{drink.id}}/favorite/add" class="btn btn-outline-light align-self-start pb-0 pt-0 mt-2 mb-2 mr-2 col-5 like"><i class="bi bi-heart"></i></a>
				<a href="/{{drink.id}}" class="btn btn-info mt-2 mb-2 ml-2 col-5 align-self-end">Details</a>
			</div>
			{% else %}
			<a href="/{{drink.id}}" class="btn btn-info mt-2 mb-2">Details</a>
			{% endif %}
		</div>

	{% endif %}
	{% endfor %}

</div>

{% if drinks|length > 50 %}

		<ul class="pagination pagination-lg mx-auto col-12 justify-content-center mt-3 pr-0">
			{% if drinks|length %}  {# checks if drinks list is not empty #}
				{% set drink_count = drinks|length %}
				{% if drink_count % 50 == 0 %}
					{# do something #}
				{% endif %}
			{% endif %}
		
		
		{% set stop_at = 50 %} {# define stop_at #}
		{% for drink in drinks %}
		{% set page_loop = loop %}
		{% if page_loop.index < stop_at and page_loop.index == 1 %}	  		
			
			<li class="page-item active">
				<a class="page-link page-link-num" href="#">{{page_loop.index}}</a>
			</li>

		{% elif page_loop.index <= stop_at and page_loop.index <= 10 %}	  		
			
			<li class="page-item">
					<a class="page-link page-link-num" href="">{{page_loop.index}}</a>
			</li>

		{% endif %}

		{% endfor  %}

		</ul>

{% endif %}

{% endblock %}