{% extends 'base.html' %} {% block content %}

<div class="text-center mt-2">
	<h2>{{user.username}}'s Page</h2>
</div>

<div class="container-fluid row mx-auto justify-content-around align-content-start">
	<div class="mt-5 col-12 col-md-5 text-center">
		<h4>Favorites</h4>
		<ul id="fav-list" class="list-group">
			{% for drink in favorites %}
			<li class="list-group-item">
				<h6>{{drink.name}}</h6>
				{% if g.user.username == user.username %}
				<div class="container-fluid row justify-content-center pr-0 pl-0 mr-0 ml-0">
					<a href="/{{drink.id}}/favorite/delete" class="btn btn-sm btn-danger col-3 col-md-2 text-center"><i class="bi bi-trash text-white"></i></a>
				</div>
				<br />
				<br />
				{% endif %}

				<a href="/{{drink.id}}"><img class="thumb img-fluid" src="{{drink.image}}" alt="" /></a>
				<hr class="mb-0" />
			</li>
			{% endfor %}
		</ul>
	</div>

	<div class="mt-5 col-12 col-md-5 text-center">
		<h4>Drink Posts 
			{% if g.user.username == user.username %}
			<a href="/drinks/add" class="ml-2"><i class="bi bi-plus-lg"></i></a>
			{% endif %}
		</h4>
		<ul id="post-list" class="list-group">
			{% for drink in posts %}
			<li class="list-group-item">
				<h6>{{drink.name}}</h6>
				{% if g.user.username == user.username %}
				<div class="container-fluid row justify-content-center pr-0 pl-0 mr-0 ml-0">
					<a href="/{{drink.id}}/edit" class="btn btn-sm btn-warning text-center col-3 col-md-2 mr-3"><i class="bi bi-pencil-square"></i></a>
					<a href="/delete/{{drink.id}}" class="btn btn-sm btn-danger text-center col-3 col-md-2 ml-3"><i class="bi bi-trash text-white"></i></a>
				</div>
				<br />
				<br />
				{% endif %}

				<a href="/{{drink.id}}"><img class="thumb img-fluid" src="{{drink.image}}" alt="" /></a>
				<hr class="mb-0" />
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}