{% extends 'base.html' %}

<div class="wrapper">
    <h1>Your cocktails:</h1>
    {% if not delete_mode: %}
        <div id="display">
            {% for c in cocktails: %}
                <form action="profile" id="cocktails" method="post">
                    <input type="submit" name="select" value="{{c.name}}">
                </form><br>
            {% endfor %}
        </div>
        <form id="delete" method="post">
            <input type="submit" name="delete" value="delete cocktail">
        </form>
    {% endif %}

    {% if delete_mode: %}
        <div id="delete-display">
            {% for c in cocktails: %}
                <form id="cocktail" method="post">
                    <input type="checkbox" name="delete" value="{{c.name}}">
                    <label>{{c.name}}</label><br>
            {% endfor %}
                    <input type="submit" id="submit-delete" value="Delete">
                </form>
        </div>
    {% endif %}
</div>